= form_for @idea, html: { multipart: true } do |f|
	- if @idea.errors.any?
		#error_explanation
			%h2
				= pluralize(@idea.errors.count, "error")
				prohibited this pin from being saved:
			%ul
				- @idea.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label "Title"
		= f.text_field :description, class: "form-control"

	.form-group
		= f.label :about
		= f.text_area :about, :cols => "60", :rows => "10"
	.form-group
		= f.label "Price"
		= f.text_field :outcome, class: "form-control", placeholder: "Free or $X"
	.form-group
		= f.label "Website"
		= f.text_field :link, class: "form-control", placeholder: "http://..."
	.form-group
		= f.label :image
		= f.file_field :image, class: "form-control"

	.form-group
		= f.submit class: "btn btn-primary"