= form_for @idea, html: { multipart: true } do |f|
	- if @idea.errors.any?
		#error_explanation
			%h2
				= pluralize(@idea.errors.count, "error")
				prohibited this pin from being saved:
			%ul
				- @idea.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label :description
		= f.text_field :description, class: "form-control"
	.form-group
		= f.label :about
		= f.text_field :about, :cols => "60", :rows => "4"
	.form-group
		= f.label :outcome
		= f.text_field :outcome, class: "form-control"
	.form-group
		= f.label :image
		= f.file_field :image, class: "form-control"
	#iterations
		= f.simple_fields_for :iterations do |task|
			= render 'iteration_fields', :f => task
		.links
			= link_to_add_association '+ Add File', f, :iterations, :class => 'btn'
	.form-group
		= f.submit class: "btn btn-primary"