.container
	.row
		.col-md-6
			.center{:style => "padding:10px 0 20px"}
				%H1 New Iterations
			%hr

			- @results.each do |iter|
				.row
					.col-xs-6
						= image_tag iter.image(:large), :class => "img-rounded img-responsive"
					.col-xs-6
						%h3{:style => "padding-top:20px;"}= link_to "#{iter.title}", "/ideas/#{iter.idea_id}"
						%p{:style => "padding-top:20px;"}= iter.description
				%hr
						
		.col-md-6
			.center{:style => "padding:10px 0 20px"}
				%H1 Ideas
			%hr
			- @ideas.each do |idea|

				.row{:style => "padding: 20px 0 20px;"}
					.col-xs-6
						= image_tag idea.image(:medium), :class => "img-rounded img-responsive"
					.col-xs-6
						%h3{:style => "padding-top:20px;"}= link_to "#{idea.description}",idea
						%p{:style => "padding-top:20px;"}= idea.about
				%hr