.div{:style => "border-bottom: 1px solid #ddd; "}
.container{:style => "padding-top:20px;"}
	.row
		.col-sm-3.center.hidden-xs
			.div{:style => "height:260px;padding-top:40px;"}
				= image_tag @idea.image.url(:small), :class => "img-responsive img-circle"
			
			= link_to "ALL IDEAS", ideas_path, :class => "btn btn-default btn-lg ", :style => "margin-top:10px; width:150px; "
			- if @idea.user == current_user
				= link_to "+ Add Iteration", new_idea_iteration_path(@idea), :class => "btn btn-default ", :style => "margin-top:10px; width:115px;"
				= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-default", :style => "margin-top:10px;"
				= link_to 'Delete', idea_path, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default", :style => "margin-top:10px;"
				= link_to "+ Add Idea", new_idea_path, :class => "btn btn-default ", :style => "margin-top:10px; width:115px;"
		.col-sm-6.center
			%span{:style => "font-size:3em;color:white"}= @idea.description
			%p{:style => "color:white"} 
				by
				=link_to "#{@idea.user.name}", @idea.user.fburl, :style => "color:white"
			%p{:style => "color:white;font-size:1.2em;"}= @idea.about
			.div{:style => "color:white;font-size:2em;padding: 15px 0 20px"}
				Creation Process
			-unless @idea.iterations.first.nil?
				- @idea.iterations.sort { |b,a| a.created_at <=> b.created_at }.each do |iter|
					.well{:style => "background-color:white"}
						- if iter.feedback?
							%h2 User Feedback
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							.div{:style => "text-align:left;"}
								%p=iter.feedback.gsub(/\n/, '<br />').html_safe
						- elsif iter.pop?
							%h2 POP Prototype
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							%h2= iter.popword
							
							%iframe{:allowTransparency => "true", :frameborder => "0", :height => "908", :src => "https://popapp.in/w/projects/#{iter.pop}/embedded", :width => "420"}
							%p{:style => "color:#888"} CLICKABLE PROTOTYPE
						- else
							%h2= iter.title
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							= image_tag iter.image(:large), :class => "img-rounded img-responsive"
							%p{:style => "padding-top:20px;"}= iter.description
						=link_to "Edit Iteration", edit_idea_iteration_path(@idea,iter)
	
		.col-sm-3.center.hidden-xs
			.div{:style => "padding-top:40px "}
				= image_tag @idea.user.image, :class => "img-responsive img-circle"
	
			

	