.div{:style => "border-bottom: 1px solid #ddd;"}
	= image_tag @idea.image.url(:cover)
.div
	.row
		.col-xs-6.col-xs-offset-3.center{:style => "position: relative;  top: -120px; "}
			%h1{:style => "color:#fff; font-size: 4em; line-height:0px; text-shadow: 0px 3px 8px #888; "}
				= @idea.description

.container
	.row
		.col-sm-2.center
			=link_to "Back to Ideas", ideas_path, :class => "btn btn-default", :style => "margin-top:0px;width:115px"
			- if @idea.user == current_user
				= link_to "+ Add Iteration", new_idea_iteration_path(@idea), :class => "btn btn-default ", :style => "margin-top:10px; width:115px;"
				= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-default", :style => "margin-top:10px;"
				= link_to 'Delete', idea_path, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default", :style => "margin-top:10px;"


		.col-sm-6.col-sm-offset-1.center
			#accordion.panel-group
				.panel.panel-default{:style => "position: relative;  top: -50px; "}
					.panel-heading
						%h4.panel-title.center
							%a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :style => "line-height:0px; color:#888"}
								ABOUT THIS IDEA
					#collapseOne.panel-collapse.collapse
						.panel-body
							= @idea.about
			.div{:style => "position: relative;  top: -40px; "}
				%p Recent Iterations
				-unless @idea.iterations.first.nil?
					- @idea.iterations.sort { |b,a| a.created_at <=> b.created_at }.each do |iter|
						- if iter.feedback?
							%h2 User Feedback
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							.well{:style => "text-align:left;"}
								%p=iter.feedback.gsub(/\n/, '<br />').html_safe
						- else
							%h2= iter.title
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							= image_tag iter.image(:large), :class => "img-rounded img-responsive"
							%p{:style => "padding-top:20px;"}= iter.description
						%hr
			
		.col-sm-2.col-sm-offset-1.center.hidden-xs
			%p Idea Owner
			= image_tag @idea.user.image, :class => "img-responsive img-rounded", :style => "margin:20px 0 5px 0px;"
			%p
				=link_to "#{@idea.user.name}", @idea.user.fburl

	