.div
	= image_tag @idea.image.url(:cover)
.container
	.row
		.col-sm-1.center
			=link_to "Back to Ideas", ideas_path, :class => "btn btn-default", :style => "margin-top:25px;"
		.col-sm-6.center
			%h1= @idea.description
			%p= @idea.about
		.col-sm-4.center
			= image_tag @idea.user.image, :class => "img-circle"
			%p
				by 
				=link_to "#{@idea.user.name}", @idea.user.fburl
		.col-sm-1.center
			- if @idea.user == current_user
				= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-default", :style => "margin-top:25px;"
				= link_to 'Delete', idea_path, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-default", :style => "margin-top:25px;"
	%hr
	.row
		.col-md-6.col-md-offset-3.center
			-unless @idea.iterations.first.nil?
				- @idea.iterations.sort { |a,b| a.created_at <=> b.created_at }.each do |iter|
					%h2= iter.title
					= image_tag iter.image(:large), :class => "img-rounded img-responsive"
					%p{:style => "padding-top:20px;"}= iter.description
					%hr
			= link_to "+ Add Iteration", new_idea_iteration_path(@idea), :class => "btn btn-default btn-lg"