.div
	= image_tag @idea.image.url(:cover)
.container
	.row
		.col-sm-12
			%p#notice= notice
			%p
				%b Description:
				= @idea.description
			- if @idea.user == current_user
				= link_to 'Edit', edit_idea_path(@idea)
			= image_tag @idea.image.url(:medium)
			= image_tag @idea.image.url(:small)
			= image_tag @idea.image.url(:thumb)