.div{:style => "border-bottom: 1px solid #ddd; "}
.container{:style => "padding-top:0px;"}
	.row
		.col-sm-12{:style => "padding-bottom:30px"}
			.div
				= image_tag @idea.image.url(:cover), :class => "img-responsive"
		.col-sm-6.col-sm-offset-2{:style => "padding-top:50px"}
			%h1= @idea.description
			%p= @idea.outcome
		.col-sm-2{:style => "padding-top:80px"}
			= link_to "Learn More", @idea.link, :class => "btn btn-default", :target => "_blank"
			.div{:style => "padding-top:30px"}
				%p
					%i= @idea.about
		.col-sm-12.center{:style => "padding-top:50px"}			
			-unless @idea.iterations.first.nil?
				.div{:style => "padding: 20px 0 0px"}
					Others Experiences
				- @idea.iterations.sort { |a,b| a.created_at <=> b.created_at }.each do |iter|	
					%p{:style => "text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
					.div{:style => "text-align:left;"}
					%p=iter.feedback.gsub(/\n/, '<br />').html_safe
						
					- if @idea.user == current_user
						=link_to "Edit Iteration", edit_idea_iteration_path(@idea,iter)
					- else
					
			- else
				- @idea.iterations.order("created_at ASC").limit(5).each do |iter|
					.well{:style => "background-color:white"}
						- if iter.feedback?
							%h2 User Feedback
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							.div{:style => "text-align:left;"}
								%p=iter.feedback.gsub(/\n/, '<br />').html_safe
						- elsif iter.pop?
							%h2 POP Prototype
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							%p= iter.popword
							
							%iframe{:allowTransparency => "true", :frameborder => "0", :height => "908", :src => "https://popapp.in/w/projects/#{iter.pop}/embedded", :width => "420"}
							%p{:style => "color:#888"} CLICKABLE PROTOTYPE
						- else
							%h2= iter.title
							%p{:style => "color:#ccc;text-transform: uppercase; font-weight:bold; font-size:.8em;"} Created #{time_ago_in_words(iter.created_at)} ago
							= image_tag iter.image(:large), :class => "img-rounded img-responsive"
							.div{:style => "text-align:left;"}
								%p{:style => "padding-top:20px;"}= iter.description
						- if @idea.user == current_user
							=link_to "Edit Iteration", edit_idea_iteration_path(@idea,iter)
			
			.div				
				= link_to "Share your experience", new_idea_iteration_path(@idea), :class => "btn btn-default"
			.div{:style => "padding: 20px 0 0px"}
				%hr
		.col-sm-12.center.hidden-xs		
			.div{:style => "padding:40px 0 5px;"}
				%p{:style => "color:#ccc;font-size:.9em;"} OTHER PROJECTS
			- @other.each do |other|
				= link_to (image_tag other.image(:thumb), :class => "img-circle img-responsive"), other
				.center{:style => "padding:5px 0 20px;color:#000;font-size:.9em;"}= link_to "#{other.description}", other,:style => "color:white"

	