- unless user_signed_in?
	.div
		.center{:style => "background-color:#fff;  "}
			%h1{:style => "font-size:6em;padding:70px 0 0 0;"} Hi! I'm Joe 
			%p{:style => "font-size:1.6em;padding: 10px 0 10px"} I like meeting people and learning by doing.
			.row
				.col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2 
					= link_to "Collaborate with Me", ideas_path , :class => "btn btn-default  btn-lg", :style => "margin-top:40px; line-height:40px;font-size:2.5em; width:100%;margin-bottom:70px;"
	%hr
	.center
		%h2 See Some Great Projects
	%hr{:style => "padding-bottom:15px;"}
	.container		
		.row
			- @ideas.each do |idea|
				.col-md-3.center
					= link_to (image_tag idea.image(:small), :class => "img-rounded img-responsive"), ideas_path

					%h4{:style => "padding-top:5px;"}= link_to "#{idea.description}",signin_path
	%hr{:style => "margin-top:15px;"}
	.center
		%h2 And Join These Other Sweet People
	%hr{:style => "padding-bottom:15px;"}
	.container	
		.row
			- @users.each do |user|
				.col-md-3.center
					= link_to (image_tag user.image, :class => "img-rounded img-responsive"), signin_path, :target => "_blank"
					%h4= link_to user.name, signin_path, :target => "_blank"


	%hr
	.center
		%h2 You know you want to :)
	%hr{:style => "margin-bottom:20px;"}
	.row
		.col-sm-4.col-sm-offset-4.center
			= link_to "Collaborate with Me", signin_path , :class => "btn btn-default btn-info  btn-lg", :style => "margin:20px 0 0px; line-height:40px;font-size:2.5em; width:100%;"
- else
	.container
		.row
			.col-md-12
				.jumbotron.center{:style => "margin-top:30px;"}
					%h1 Yeah! You made it! 
					%h1=link_to 'View Great Ideas', ideas_path
