= simple_form_for([@idea, @iteration]) do |f|
	= f.error_notification
	%p Enter Feedback or
	.form-group
		= f.label :feedback
		= f.text_field :feedback

	%p Enter a Prototype Image (If there is feedback the below info will not show)
	.form-group
		= f.label :title
		= f.text_field :title
	
	%p Document a prototype (If there is feedback the below info will not show)
	.form-group
		= f.label :image
		= f.file_field :image, class: "form-control"
	.form-group
		= f.label :description
		= f.text_field :description
	.form-group
		= f.hidden_field :idea_id
	.form-group
		= f.submit class: "btn btn-primary"
end
