= simple_form_for([@idea, @iteration]) do |f|
	= f.error_notification
	%p Enter POP embed code
	.form-group
		%p Title
		= f.text_area :popword, :cols => "60", :rows => "1"

	.form-group
		= f.label :feedback
		= f.text_area :feedback, :cols => "60", :rows => "10"
	%hr

	.form-group
		= f.hidden_field :idea_id
	.form-group
		= f.submit class: "btn btn-primary"
end
