!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Hi! I am JOE'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Lets Build Stuff'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:style => "background-color:#555;"}
    %header
      = render 'layouts/navigation'
    %main{:role => "main", :style =>"background-color:#555; padding: 0 0 0 0;"}
      = render 'layouts/messages'
      = yield
    %footer
      .div.center{:style => "padding: 40px 0 20px; color:white"}
        BY JOE 2015      
